.admin{
    background: var(--main-grey);
}

.admin_element {
    color: var(--main-green);
}

.admin_element.active {
    color: var(--main-green);
    /* color: var(--color-text); */
  }

.admin_element.disabled {
  color: rgb(244, 67, 54);
  /* color: var(--color-text); */
}

.admin_element.pause {
  color: #ffb223;
  /* color: var(--color-text); */
}

.start{
    color: var(--main-green);
    background-color: var(--opacity-grey);
}

.start.active {
  background: var(--main-green);
  color: white;
}
  
  .importador #myProgress {
    background-color: var(--main-grey);
  }
  
  .importador .percent {
    color: var(--color-text) !important;
  }
  .btn {
    background: var(--main-green);
    color: var(--color-text);
  }
  
  .btn:hover {
    background: var(--opacity-green);
  }

  .in{
    background: var(--opacity-green);
  }

  .out{
    background: var(--opacity-green);
  }