 .admin {
  display: block;
  padding-bottom: 5px;
  width: 100%;
  height: auto;
}

.list{
  height: 665px;
  overflow: hidden;
  width: 95%;
}

.recover, .backup, .manage{
  overflow: auto;
  height: 100%;
}

.admin_element{
  font-size: 25px;
  padding: 2%;
  display: inline-block;
  text-align: center;
  margin: 8px;
  max-height: 96px;
  width: 126px;
}

.admin_element * {
  display: grid;
  place-items: initial;
}

.admin_element .fas {
  font-size: 35px;
}

.admin_element.disabled {
  background-color: rgb(244, 67, 54);
  border: 1px solid rgb(244, 67, 54);
  color: var(--color-text);
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 39px;
  padding-right: 39px;
}

.toolbar .tab {
  display: block;
  text-align: right;
  overflow: hidden;
}

.toolbar .tab .tablinks {
  background-color: inherit;
  display: inline-block;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 12px;
  transition: all 0.3s ease;
}

.toolbar .tab .tablinks * {
  display: inline-block;
}

.api_list{
  width: 90%;
  display: block;
  height: 50%;
  margin: auto;
}

.list{
	height: 100%;
	width: calc(100% + 20px);
}
.api_element{
  font-size: 20px;
  margin-bottom: 5px;
  text-align: left;
  color: var(--main-green);
}

.api_element *{
  display: inline-block;
  margin-right: 9px;
}
.api_element .GET{
  border-radius: 50px;
  padding: 0 5px;
  background-color:  #1bffa0be;
}

.api_element .POST{
  border-radius: 50px;
  padding:  0 5px;
  background-color:  #ff9c1bbe;
}

.api_element .method{
  color: white;
}