 .commingsoon {
    height: 100vh;
    padding-top: 76px;
    margin-bottom: 1%;
}

.demo {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.demo .div{
    display: block;
    font-size: 30px;
    flex-direction: column;
    font-weight: 700;
    font-size: 48px;
    min-width: 110px;
    border-radius: 4px;
    margin-right: 10px;
    padding: 15px;
}