/*@font-face {
  font-family: "Roboto-Black";
  src: url("./fonts/Roboto/Roboto-Black.ttf");
}

 @font-face {
  font-family: "Roboto Black Italic";
  src: url("./fonts/Roboto/Roboto-Blackitalic.ttf");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("./fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto-Bolditalic";
  src: url("./fonts/Roboto/Roboto-Bolditalic.ttf");
}

@font-face {
  font-family: "Roboto-Italic";
  src: url("./fonts/Roboto/Roboto-Italic.ttf");
}

@font-face {
  font-family: "Roboto-Light";
  src: url("./fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
  font-family: "Roboto-Lightitalic";
  src: url("./fonts/Roboto/Roboto-Lightitalic.ttf");
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("./fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Roboto-Mediumitalic";
  src: url("./fonts/Roboto/Roboto-Mediumitalic.ttf");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("./fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-Thin";
  src: url("./fonts/Roboto/Roboto-Thin.ttf");
}

@font-face {
  font-family: "Roboto-Thinitalic";
  src: url("./fonts/Roboto/Roboto-Thinitalic.ttf");
}

@font-face {
  font-family: "LobsterTwo-Bold";
  src: url("./fonts/Lobster_Two/LobsterTwo-Bold.ttf");
}

@font-face {
  font-family: "LobsterTwo-Bolditalic";
  src: url("./fonts/Lobster_Two/LobsterTwo-Bolditalic.ttf");
}

@font-face {
  font-family: "LobsterTwo-Italic";
  src: url("./fonts/Lobster_Two/LobsterTwo-Italic.ttf");
}

@font-face {
  font-family: "LobsterTwo-Regular";
  src: url("./fonts/Lobster_Two/LobsterTwo-Regular.ttf");
}
*/
@font-face {
  font-family: "Inconsolata-Bold";
  src: url("./fonts/Inconsolata/Inconsolata-Bold.ttf");
}

/* @font-face {
  font-family: "Inconsolata-Regular";
  src: url("./fonts/Inconsolata/Inconsolata-Regular.ttf");
}

@font-face {
  font-family: "Hitchhiker b";
  src: url("./fonts/Hitchhiker b.ttf");
}

@font-face {
  font-family: "Hitchhiker";
  src: url("./fonts/Hitchhiker.ttf");
}

@font-face {
  font-family: "Johanna italic";
  src: url("./fonts/Johanna italic.ttf");
}

@font-face {
  font-family: "Johanna";
  src: url("./fonts/Johanna.ttf");
}

 @font-face {
  font-family: 'Nougatine';
  src: url("./fonts/Johanna.ttf");
} 

@font-face {
  font-family: 'Cormorant Upright';
  src: url("./fonts/Cormorant_Upright/CormorantUpright-Bold.ttf");
}

@font-face {
  font-family: 'Cormorant Upright';
  src: url("./fonts/Cormorant_Upright/CormorantUpright-Bold.ttf");
}

@font-face {
  font-family: 'Cormorant Upright';
  src: url("./fonts/Cormorant_Upright/CormorantUpright-Bold.ttf");
}

@font-face {
  font-family: 'Cormorant Upright';
  src: url("./fonts/Cormorant_Upright/CormorantUpright-Bold.ttf");
}

@font-face {
  font-family: 'Cormorant Upright';
  src: url("./fonts/Cormorant_Upright/CormorantUpright-Bold.ttf");
}

@font-face {
  font-family: 'Cormorant Upright';
  src: url("./fonts/Cormorant_Upright/CormorantUpright-Bold.ttf");
}

@font-face {
  font-family: 'Cormorant Upright';
  src: url("./fonts/Cormorant_Upright/CormorantUpright-Bold.ttf");
}
 */