/* Track */
::-webkit-scrollbar-track {
  background: var(--main-grey);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--opacity-green);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-green);
}

main {
  /* background-color: #d8d8d8; */
  background-color: var(--opacity-grey);
}

.progress-container {
  background: var(--opacity-grey);
}

.progress-bar {
  background: var(--main-green);
}

.button_fixed {
  border-color: var(--color-text);
  color: white;
  background: var(--main-green);
}

.alert {
  color: white;
}

.mensajes .notification {
  color: white;
}

.mensajes .delete:hover {
  color: white;
}

.pre {
  background-color: var(--opacity-grey);
  color: var(--color-text);
}


.container-loading{
  background-color: var(--opacity-grey);
}

.container-loading .texto{
  color: var(--main-green);
}

.container-loading .folding .sk-cube:before{
  background-color: var(--main-green);
}