p{
    text-align:center;
    padding: 2px;
    font-size:16px;
}

.p{
    display: flex;
    justify-content: end;
    margin: 0px 5px;
}

.p .button {
    display: inline-block;
    margin: 22px;
    font-size: 18px;
    width: 45%;
    padding: 10px;
    border: 2px solid;
    cursor: pointer;
    font-family: "Roboto";
    max-width: 235px;
    text-align: center;
}