:root {
    --color-text: #fff;
    --main-green: #ff1e00/*#07c24f*/;
    --main-grey: #3d3d3d;
    --opacity-grey: #3d3d3da4;
    --opacity-green: #07c24fbd;


    --main-green: #23a7ff;
    --opacity-green: #23a7ffb7;

}

.admin{
    background: var(--main-grey);
}

.admin_element {
    color: var(--main-green);
    border: 1px solid var(--main-green);
}

.admin_element.active {
    background-color: var(--main-green);
    color: var(--color-text);
  }

.toolbar .tab{
    color: var(--main-green);
    background-color: var(--opacity-grey);
}

.toolbar .tab .tablinks{
    color: var(--color-text);
}

.toolbar .tab .tablinks:hover {
    background-color: var(--opacity-grey);
    color: var(--color-text);
}

/* .toolbar .tab .tablink.active, */
.toolbar .tab .tablinks.active {
    background: var(--main-green);
    color: var(--color-text);
}

.importador #myProgress{
    background-color: var(--main-grey);
}

.importador .percent{
    color: white !important;
}

.commingsoon{
    color: var(--color-text);
}


.comments .info_avatar .info_usuario .estado .input_enviar{
    border: 1px solid var(--main-green);
    color: var(--color-text);
}

.comments .info_avatar .info_usuario .estado .btn_enviar{
    border: 1px solid var(--main-green);
    background-color: var(--main-green);
    color: var(--color-text);
}
 
.comentario{
    color: var(--color-text);
}

.tarjeta {
    background: var(--main-grey);
}

.slider_banner .banner .anime .first .titulo{
	-webkit-box-shadow: 0 -6px 16px 10px var(--opacity-grey);
	-moz-box-shadow: 0 -6px 16px 10px var(--opacity-grey);
	box-shadow: 0 -6px 16px 10px var(--opacity-grey);
    background-color: var(--opacity-grey);
    color: var(--color-text);
}

.slider_banner .flecha-banner {
    color:var(--opacity-green);
}

.slider_banner .flecha-banner:hover {
	color: var(--main-green);
}

.filters{
    background: var(--main-grey);
}

.filters .link {
    color: var(--color-text);
}

.filters .link:hover {
    background: var(--opacity-green);
}

.error{
    color: var(--main-green);
}

.error .text{
    background-color: var(--opacity-green);
    color: var(--main-grey);
    border: 2px solid var(--main-grey);
}

.error .link {
    background: var(--main-green);
    border: 2px solid var(--color-text);
    color: var(--color-text);
}

.error .link:hover{
    border-color: var(--main-green);
    background: var(--opacity-grey);
    color: var(--color-text);
}
